
.box{
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100%;
    align-content: space-between;
    justify-content: space-evenly;
}


.one{
    position: relative;
    
    margin-bottom: 25px;
    width: 240px;
    height: 350px;

    background: #ffeea3;
    border-radius: 20px;

    border: 1px solid black;
    z-index: -1;

}

.two{
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 5.14%;
    bottom: 37.71%;

    height: 200px;
    width: 200px;

    border: 1px solid black;

    background-color: #f1f1f1;
    border-radius: 10px;
    z-index: -1;
}


.three{
    box-sizing: border-box;
    position: absolute;

    left: 8.33%;
    right: 50%;
    top: 83.43%;
    bottom: 5.14%;

    background: #F89B0F;
    border: 1px solid #000000;
    border-radius: 6px;
    z-index: -1;


}

.four{
    position: absolute;
    left: 18%;
    right: 0%;
    top: -35.5%;



    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    z-index: -1;

    color: #000000;

}

.ht{
display: block;
margin: 40px;
width: 220px;
height: 45px;
border-radius: 30px;

background: #F89B0F;


}

.more{
    color: #000000;
    align-items: center;

    list-style-type: none;
    text-decoration: none;
    
}


.proper{
    display:flex;
    flex-direction: column;
    position: fixed;
    left: -100px;
    right: 0px;
    top: 0px;
    bottom: 0px;

}